html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Oswald, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ol {
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "box1 box2"
    "box3 box4"
    "box5 box6"
    "box7 box8";
}

.jewellery {
  width: 100%;
}

h2 {
  color: #6f00e7;
}

body {
  background-color: #fff;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ol li {
  border: 3px solid #987ffa;
}

ul li {
  color: #000;
  padding: 1em;
  text-decoration: none;
  font-size: 1.125rem;
}

img {
  width: 100%;
}
