html {
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ol {
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "li li"
    "li li "
    ". . ";
}
